/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
// @import "minima/fastpages-dracula-highlight"; 

.post-content p, .post-content li {
   font-size: 14px;
}

pre {
   background-color: #f6f8fa;
   font-size: 100%;
}

table th, table td {
   padding: 6px;
}
